<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNK6XHh03W1_NgU_5S2FoWb5oRgttzM5E</string>
	<key>GCM_SENDER_ID</key>
	<string>869511599674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.np.suprimpoudel.busbuddyuser.busBuddyUser</string>
	<key>PROJECT_ID</key>
	<string>bus-buddy-50f1d</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-buddy-50f1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869511599674:ios:6040c080159ee8d6978703</string>
	<key>DATABASE_URL</key>
	<string>https://bus-buddy-50f1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>